.pagePadding {
    padding: 3% 0 0 0
  }

  .layerPadding {
    padding: 1% 0 0 0
  }
  
  .homeHeader {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.5rem;
  }

  .homeHeader2 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 3.5rem;
  }

  .homeHeader3 {
    font-size: 1rem;
    font-weight: bold;
  }

  .body {
    font-size: 1rem;
  }
  
  .button {
    padding: 1.25% 3% 1.25% 3%;
    font-size: 0.8rem;
    color: white;
    background-color: #f04e22;
    border: 0;
    border-radius: 5px;
  }

  .count {
    font-size: 2rem;
    color: #f04e22;
    font-weight: bold;
  }