  .pagePadding {
    padding-top: 2rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 1024px) {
    .pagePadding {
      padding-top: 3.25rem;
    }
  }

  .layerPadding {
    padding-top: 0.1%;
  }

  .layerFooter {
    margin-top: 1%;
  }
  
  .homeHeader {
    font-size: 36px;
    font-weight: bold;
    line-height: 3.5rem;
  }

  @media (min-width: 1024px) {
    .homeHeader {
      font-size: 64px;
      font-weight: bold;
      line-height: 5rem;
    }
  }

  .homeHeader2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 3.5rem;
  }

  @media (min-width: 1024px) {
    .homeHeader2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 3.5rem;
    }
  }

  .homeHeader3 {
    font-size: 18px;
    font-weight: bold;
  }

  @media (min-width: 1024px) {
    .homeHeader3 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .body {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    .body {
      font-size: 18px;
    }
  }
  
  .button {
    padding: 1.25% 3% 1.25% 3%;
    font-size: 12px;
    color: white;
    background-color: #f04e22;
    border: 0;
    border-radius: 5px;
  }

  @media (min-width: 1024px) {
    .button {
      padding: 1.25% 3% 1.25% 3%;
      font-size: 16px;
      color: white;
      background-color: #f04e22;
      border: 0;
      border-radius: 5px;
    }
  }

  .iconButton {
    border: none;
    background: transparent;
  }

  .count {
    font-size: 24px;
    color: #f04e22;
    font-weight: bold;
  }

  @media (min-width: 1024px) {
    .count {
      font-size: 32px;
      color: #f04e22;
      font-weight: bold;
    }
  }

  .sendAnswer {
    text-align: center;
    padding-top: 1%;
  }

  .button {
    padding: 1.25% 3% 1.25% 3%;
    font-size: 12px;
    color: white;
    background-color: #f04e22;
    border: 0;
    border-radius: 5px;
  }

  @media (min-width: 1024px) {
    .button {
      padding: 0.5% 1% 0.5% 1%;
      font-size: 16px;
      color: white;
      background-color: #f04e22;
      border: 0;
      border-radius: 5px;
    }
  }