.all{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 100%;
    background-color: #E0E0E0;
    margin: 20px 0;
  }

  .text-inside-line {
    background-color: white;
    padding: 0 10px;
    font-size: 20px;
    color: #7A7A7A;
    position: relative;
    z-index: 1;
  }

  .hover-forget:hover {
    color: #F04E22;

  }

  .css-og50xi-MuiTypography-root {
    margin-top: 20px !important;
  }

  .element.style {
    width: 60%;
    text-align: right;
    padding-right: 0px;
}

.boxCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
