
.page{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4rem;
  }

  



  .qTitle{
    font-size: 43px;
    font-weight: bold;
    /* white-space: nowrap; */

}

.left-content{
    padding-right: 7%;
}


ul.Qtabs.nav.nav-tabs{
    border-bottom: 1px solid #E6E6E6 !important;
}



 .nav-tabs .nav-link {
    background-color: transparent !important;
    color: #333 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
 
  }

  @media (max-width: 330px) {
    .nav-tabs .nav-link{
        font-size: 10px;     
      }
  }

  .nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: #f04e22 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    
    

  }

  .nav-tabs .nav-link.active {
    border-bottom: solid 3px #f04e22 !important;
  }

  .vertLine{

    border-top: none ;
    border-left: none ;
    /* border-right: 1px solid #E6E6E6; */

  }

  @media (min-width: 768px) {
    .vertLine{
        border-right: 1px solid #E6E6E6;    
      }
  }

  .poster-name{
    font-weight: bold;
  }

  .post-date{
    opacity: 0.35;
  }

  .menu-group{
    /* min-width: 300px; */
    padding-left: 0%;
    text-align: right;
  }

  .sub-menu{
    min-width: 33px;
    
    ;
  }

  .menu-pic{
    padding-top: 4%;
  }

  .comment-count{
    padding-top: 4%;
    font-size: 18px;
    
  }

  /* .post-detail{
    
  } */

  .menu-dropdown{
    margin-right: 7%;
  }


  .right-content{
    padding-left: 7%;
    padding-right: 15%;

  }

  .post-comment{
    text-decoration: none;
    color: #333;
    text-align: center !important;
  }

  .post-comment:hover{
    text-decoration: none;
    
    color: #333;
  }

  .ask-button{
    background-color: #f04e22 !important;
    color: white !important;
    border-radius: 4px !important;
  }

  .tips{
    border-radius: 4px ;
    border: 1px solid #C1C1C1;
    margin-top: 5%;
    padding-top: 8%;
  }

  .tipsTitle{

    font-weight: 600;
    font-size: 19px;
    padding-left: 7%;
    padding-right: 8%;
    
    
  }

  .tipsContent{
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    
    font-size: 14px;
  }

  .close-button{
    text-align: end;
    margin-right: 2%;
    margin-bottom: 2%;
  }

 .search-box{
    padding-top: 8%;
 }

 .search-tips{
    padding-top: 3%;
    line-height: 1.8;
 }

.search-tips#s1{
    padding-right: 3%;
 }

 .search-tips#s2{
    padding-left: 3%;
 }


 #question-dropdown{
  padding-right: 2rem;
  color: transparent;
  border: none;
 }