
.page{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4rem;
  }

  



  .qTitle{
    font-size: 43px;
    font-weight: bold;
    /* white-space: nowrap; */

}

.left-content{
    padding-right: 7%;
}


ul.Qtabs.nav.nav-tabs{
    border-bottom: 1px solid #E6E6E6 !important;
}



 .nav-tabs .nav-link {
    background-color: transparent !important;
    color: #333 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
 
  }

  @media (max-width: 330px) {
    .nav-tabs .nav-link{
        font-size: 10px;     
      }
  }

  .nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: #f04e22 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    
    

  }

  .nav-tabs .nav-link.active {
    border-bottom: solid 3px #f04e22 !important;
  }

  .vertLine{

    border-top: none ;
    border-left: none ;
    /* border-right: 1px solid #E6E6E6; */

  }

  @media (min-width: 768px) {
    .vertLine{
        border-right: 1px solid #E6E6E6;    
      }
  }

  .poster-name{
    font-weight: bold;
  }

  .post-date{
    opacity: 0.35;
  }

  .menu-group{
    /* min-width: 300px; */
    padding-left: 0%;
    text-align: right;
    vertical-align: center;
  }

  .sub-menu.menu-dropdown{
    min-width: 33px;
    
   
    
  }

  .menu-pic{
    padding-top: 1%;
    
  }

  #comment-count{
    padding-left: 2%;
    
    align-items: center;
    
    
  }

  /* .post-detail{
    
  } */

  .menu-dropdown{
    margin-right: 7%;
  }


  .right-content{
    padding-left: 7%;
    padding-right: 15%;

  }

  @media (max-width: 1024px) {
    .right-content{
        padding-left: 5%;
        padding-right: 0%;
      }
  }

  @media (max-width: 768px) {
    .right-content{
        padding-top: 5%;
        padding-left: 0%;
        padding-right: 0%;
      }
  }

  .post-comment{
    text-decoration: none;
    color: #333;
    text-align: center !important;
  }

  .post-comment:hover{
    text-decoration: none;
    
    color: #333;
  }

  .ask-button{
    background-color: #f04e22 !important;
    color: white !important;
    border-radius: 4px !important;
  }

  .tips{
    border-radius: 4px ;
    border: 1px solid #C1C1C1;
    margin-top: 5%;
    padding-top: 8%;
  }

  @media (max-width: 767px) {
    .tips{
        display: none;
      }
  }

  .tipsTitle{

    font-weight: 600;
    font-size: 19px;
    padding-left: 7%;
    padding-right: 8%;
    
    
  }

  .tipsContent{
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    
    font-size: 14px;
  }

  .close-button{
    text-align: end;
    margin-right: 2%;
    margin-bottom: 2%;
  }

 .search-box{
    padding-top: 8%;
 }

 .search-tips{
    padding-top: 3%;
    line-height: 1.8;
 }

.search-tips#s1{
    padding-right: 3%;
 }

 .search-tips#s2{
    padding-left: 3%;
 }


 #question-dropdown{
 
  color: transparent;
  border: none;
 }


 .post-border{
  padding-bottom: 1%;
  margin-bottom: 3%;
  border-radius: 4px ;
  border-bottom: 1px solid #E6E6E6 !important;
 }

 /* .question-modal{
  border: none !important;
 } */

 .question-modal-header{
  border: none !important;
 }


 .question-modal-title{
  font-weight: bold;
 }

 button#modal-close:focus{
  box-shadow: none !important;
  
 }

 .modal-topic{
  color: #666666;
 }

 ::-webkit-input-placeholder {
  font-size: 14px!important;
  color: #4F4F4F!important;
  opacity: 0.5 !important;
  padding-left: 0%;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 14px!important;
  color: #4F4F4F!important;
  opacity: 0.5 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 14px!important;
  color: #4F4F4F!important;
  opacity: 0.5 !important;
}


 .question-modal-body{
  border: none !important;
 }

 textarea.question-modal-input {
  resize:none !important;
}

.anon-tick{
  border-radius: 3px ;
  background-color: #F2F2F2;
  font-size: 14px
}

 .question-modal-footer {
  border: none !important;
 }

 .flex-container {
  display: flex;
  justify-content: space-between;
}

.form-switch .form-check-input#question-anon-tick {
  width: 2.5em; height: 1.5em;
  
}

.form-switch .form-check-input#question-anon-tick:checked {
  background-color: #f04e22 !important;
  border-color: #f04e22 ;
  
}

.form-switch .form-check-input#question-anon-tick:focus {
  box-shadow: none !important;
  
}

.post-question-btn{
  background-color: #f04e22 !important;
  color: white !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  width: 66%;
}

.modal-footer.question-modal-footer{
  display: flex!important;
  align-content: center !important;
}

